@import "tailwindcss";

/* google fonts link section */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* this is color section usinng all website  */
.dark-1{
    color: #000000;
    opacity: 50%;
}
.bg-body-color{
    background-color: #f5f8ff;
}
.primary-color{
    color: #E95A08;
}
.bg-primary-color{
    background-color: #E95A08;
}


/* this is container section */
.container{
    max-width: 1140px;
    
}
/* this is resposive section */

@media screen and (max-width:640px) {
    nav a{
        display: none;
    }
    .nav-icon{
        display: inline-block;
    }
    nav{
        margin: 0 10px;
        align-items: center;
    }

    .head-banner-main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .banner-content{
        width: 100%;
        margin: auto;
    }
    .banner-content h1{
        font-size: 40px;
    }

    /* this is plants-card section*/
    .plants-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        margin: 10px 10px;
        height: 100%;
      
    }

    /* this is plants-love-section */
    .plants-love-section{
        flex-direction: column;
        
      
    }
    .plants-love-img{
        width: 350px;
        
        
    }
    .plants-love-content h1{
        font-size: 30px;

    }
    .latest-deals-content div{
        width: 350px;

    }

    .latest-deals-content h1{
        font-size: 30px;
    }

    .letest-deals-img{
      
        width: 350px;
        height: 171px;
        
        
    }
    .letest-deals-img-secction1{
        
       display: flex;
       flex-direction: column;
       gap: 20px;
       margin: 10px auto;
       height: 581px;
       width: 361px;
        
        
        
        
    }
    .plants-love-trusted-img{
        display: none;
    }

   
}